body{
	background-color:Lightblue;
	color:white;
}

Nav{
	height:6000px;
	width:200px;
	float:left;
	padding:5px;
	line-height:30px;
}

footer{
	text-align:center;
	margin-right:200px;
}

#memeImage{
	margin-right:200px;
}

Header{
	text-align:center;
	font-size:150%;
	font-style:bold;
}
